$accentColor = 	#158BBB
$textColor = 	#000000
$borderColor = 	#DEE8F1
$codeBgColor =  #282C35

// .navbar .links
//   background-color : #17679A
//   color : white
.navbar
  background-color : #17679A
  color : #17679A


h1, h2
    color : #0f4b73

.navbar .site-name
    color : #17679A